<div class="container-fluid">
    <div class="progress" ng-show="proval > 0">
      <div class="progress-bar {{progressbarstatus}} progress-bar-striped active" role="progressbar"
      aria-valuenow="{{proval}}" aria-valuemin="0" aria-valuemax="100" style="width:{{proval}}%">
        {{proval}}% {{currentstatus}}
      </div>
    </div>
	<div class="row">
    	<div class="col-sm-12" ng-repeat="section in sections">
        	<div class="card" id={{section.sectionId}}>
            	<form method="post" name="form1" ng-submit="formdatadisplay()" >
				<div class="header">
                	<h4 class="chart-title">{{section.sectionName}}
                    	<input type="button" style="float:right;" ng-show="showlist" ng-click="chequelist()"  class="btn btn-info btn-fill btn-wd" value="Show" />
						<input type="button" style="float:right;" ng-show="hidelist" ng-click="hide()"  class="btn btn-info btn-fill btn-wd" value="Hide" />
                    </h4>
                </div>
					
                <div class="content">
               
					<span ng-repeat="rowFields in section.sortedFields track by $index">
						
                        	<div class="row" >
                            	<div class="col-md-3" ng-repeat="field in rowFields track by $index" >
                                	<div class="form-group">
                                    
                                    <label ng-if="field.fieldType=='Label'">{{field.fieldName}}</br>
                                    	<!--<span ng-if="field.model=='octmchequebookrequest__lotNumber'">{{formdata.octmchequebookrequest__lotNumber}}</span>-->
                                    </label>
                                        
                                   


                                
                                    <label ng-if="field.fieldType=='Radio'">
                                    	<vc-radio  
                                        	model= "field.fieldName" 
                                            value="{{field.fieldName}}" 
                                            label="{{field.fieldName}}" 
                                            name="{{field.metaInfo.name}}">
                                        </vc-radio>
                                   	</label>
                                  
                                
                                	<label ng-if="field.fieldType=='Checkbox'">
                                    	<box data-ng-model='checkboxValue' name="{{field.fieldName}}"> </box>
                                		<!--<my-checkbox ng-model="field.fieldName" value="">{{field.fieldName}}</my-checkbox>-->
                                	</label>
                                 <label class="col-md-12" ng-if="field.fieldType=='TextField'" >

                                       <!-- <vc-text 
                                              data-model="formdata[field.model]"
                                              data-field="field"
                                              data-processfield="processField"
                                              data-inputtype="field.fieldType"                                         
                                              vc-blur="change([field.model])"
                                              maxlength="{{field.maxLen}}"                                   
                                              allowedchars="{{field.allowedChars}}"
                                              id="{{field.fieldId}}"
                                            
                                         ></vc-text>-->
                                         
                                         
                                          <vc-text 
                             	labelaccessor="{{field.fieldId}}"        
                                ng-if="field.fieldType=='TextField'" 
                                data-model="formdata[field.model]"                                          
                                data-field="field"                                          
                                data-processfield="processField"                                          
                                data-inputtype="field.fieldType"        
                                vc-blur="change([field.model])"                                          
                                maxlength="{{field.maxLen}}"                                                                      
                                minlength="{{field.minLen}}"
                                allowedchars="{{field.allowedChars}}" 
                                vc-blur="change(field.model)"
                                vc-change=""></vc-text>
                                    </label>

                                	
                                    <label class="col-md-12" ng-if="field.fieldType=='MaskDate'">{{field.fieldName}}
                                 		<input 
                                  			ng-required = "(field.validations.indexOf('Blank') === -1)?false:true" 
                                  			class = "form-control" 
                                        	type = "text"
                                        	id = "field.model"
                                        	ng-model = "formdata[field.model]"
                                        	value = "" 	
                                        	ng-blur = "fireEvent(field.model)"
                                        	ng-change = "validateSplChar(field.model)"
                                        	placeholder = "MM/DD/YYYY"
                                  			mask ="19/29/2999"
                                        />
                                		<!--<input my-datepicker format="{{format}}" type="text" ng-model="formdata[field.model]" id="myDP" />-->
                                	</label>
                                
                                	<label class="col-md-12" ng-if="field.fieldType=='Calendar'" >{{field.fieldName}}
                                		<input my-datepicker format="{{format}}" type="text" ng-model="formdata[field.model]" id="myDP" />
                                	</label>
                               	</div>
                          	</div>
                       	</div>
					</span>

                    <br>
                	<button type="submit"  class="btn btn-lg btn-primary">submit</button>
                </form>
        	</div>
            <div ng-show="chequelisttable" class="panel-body">
                <center>
                    <label style="margin-left:10px;font-size:18px;">Total Records : {{totalrecords}}</label>
                </center>
                <div id="scrollable-area">
                    <table class="table table-striped" ng-table="tableParams" show-filter="true">
                        <tr ng-repeat="chequeReport in $data">
                            <td  scope="row"  title="'Request Id'" filter="{ requestId: 'text'}" sortable="'requestId'" align="center" width="250px">
                            {{chequeReport.requestId}}
                            </td>
                            <td  scope="row"  title="'Batch Id'" filter="{ batchId: 'text'}" sortable="'batchId'" align="center" width="250px">
                            {{chequeReport.batchId}}
                            </td>
                            <td  scope="row"  title="'Request Date'" filter="{ requestDate: 'text'}" sortable="'requestDate'" align="center" width="250px">
                            {{chequeReport.requestDate | date:'MM/dd/yyyy'}}
                            </td>
                            <td  scope="row"  title="'Lot Number'" filter="{ lotNumber: 'text'}" sortable="'lotNumber'" align="center" width="250px">
                            {{chequeReport.lotNumber}}
                            </td>
                            <td  scope="row"  title="'Account Number'" filter="{ accountNumber: 'text'}" sortable="'accountNumber'" align="center" width="250px">
                            {{chequeReport.accountNumber}}
                            </td>
                            <td  scope="row"  title="'Payee Name'" filter="{ payeeName: 'text'}" sortable="'payeeName'" align="center" width="250px">
                            {{chequeReport.payeeName}}
                            </td>
                            <td  scope="row"  title="'Cheque Book Number'" filter="{ chequeBookNumber: 'text'}" sortable="'chequeBookNumber'" align="center" width="250px">
                            {{chequeReport.chequeBookNumber}}
                            </td>
                         </tr>
                    </table>
                </div>
    	 	</div>
    	</div>
	</div>
</div>