
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
                <div class="header">
                    <h4 class="chart-title">Credit Mis
                    </h4>
                </div>
             
                <div class="panel-body">        
                        <form class="form" role="form"  method="post" >
                            <div class="row">
                                <!--<label class="col-md-4">Select Clg Date
                                 	<input 
                                  		ng-required = "(field.validations.indexOf('Blank') === -1)?false:true" 
                                  		class = "form-control" 
                                        type = "text"
                                        id = "field.model"
                                        ng-model = "formdata.clgdate"
                                        value = "" 	
                                        ng-blur = "fireEvent(field.model)"
                                        ng-change = "validateSplChar(field.model)"
                                        placeholder = "MM/DD/YYYY"
                                  		mask ="19/29/2999"
                                        
                                	/>
                                    
                                	<input my-datepicker format="{{format}}" type="text" ng-model="formdata.clgdate" id="myDP" />-->
                             	</label>
                                 <label class="col-md-4">Clg Date
                                		<input my-datepicker format="{{format}}" type="text" ng-model="formdata.clgdate" id="octmchequeentry__clgDate" />
                                	</label>
                             	<label class="col-md-4">Select Lot Number
                                	<vc-ddl   
                                 		label="Lot Number"
                                     	tbl='corelotnumber' 
                                     	dbval='lotNumber'
                                     	dblbl='lotNumber'
                                     	data-accessor="formdata.lotNumber" 
                                     	data-model="formdata.lotNumber" 
                                     	whr=""
                                     	sql=""
                                     	vc-change=""
                                     	data-field="field"
                                     	data-datalist="field.metaInfo.datalist"
                                 	></vc-ddl>
                                     <vc-ddl   
	                                 		ng-if = "field.fieldType=='DropDown'"
                                 	 		label = "Lot Number"
                                      		whr = '' 
                                     		tbl = 'corelotnumber' 
                                     		dbval = 'lotNumber' 
                                     		dblbl = 'lotNumberId'
                                     		data-model = "formdata.lotNumber" 
                                     		sql = "" 
                                     		vc-change = "showme(field.model)"
                                            data-accessor="formdata.lotNumber" 
                                     		labelaccessor="lotNumber"
                                     		data-field = "field"
                                     		data-datalist="field.metaInfo.datalist"
                                     		labeldatalist="getalllot"      
                                 		></vc-ddl>	
                            	</label>  
                           
                           		<input type="button" ng-click="report()" class="btn btn-info btn-fill btn-wd" value="Credit MIS" />
                        	</div>
                        	</form>
                    		
                     		</div>
                     	</div>
                    </div>
					<div class="panel panel-default">
      					<div class="panel-heading" >
        					<h3 class="panel-title">
                			 <div class="row">
                    <div class="col-xs-6" align="left"><h3>Records</div>
                    <div class="col-xs-3"  align="right"><a class="btn" title="Export Table" ng-click='csv.generate()' ng-href="{{ csv.link() }}"
                     download="performanceReport.csv">
                    <i class="glyphicon glyphicon-new-window"></i> &#160;Export
                  </a></div>
                </div>
        </h3>
      </div>
      <div class="panel-body">        
                <div>
                 <table class="table table-striped" ng-table="tableParams" show-filter="true" export-csv="csv">                   
                     <tr ng-repeat="creditmis in $data"> 
                      <td  scope="row"  title="'Card Type'" filter="{ creditCard: 'text'}" sortable="'creditCard'" align="center" width="250px">{{creditmis.creditCard}} </td>
                      
                       <td  scope="row"  title="'Batch Number'" filter="{ batchId: 'text'}" sortable="'batchId'" align="center" width="250px">{{creditmis.batchId}} </td>
                       <td scope="row" title="'Cheques'" filter="{ count: 'text'}" sortable="'count'" align="center"> {{creditmis.count}} </td>
                       <td scope="row" title="'Total Amount'" filter="{ total: 'text'}" sortable="'total'" align="center">{{creditmis.total}}</td>
                       <!--<td>Total count : {{ totalcount() }}</td>
                       <td>Total Amount : {{totalAmount()}}</td>-->
                      </tr>
                   	 <tr ng-repeat="misreport in $data[0].count"> 
                         <th></th>                                  
                        <th>Total count :</th>
                        <th align="center">
                             {{ totalcount() }}
                        </th>
                        <th align="center">
                            {{totalAmount()}}
                        </th>
                    </tr>
                     
                    
                     
                 </table>
			    </div>
              </div>
    </div>

    <hr>

    <p class="small text-muted"><a href="#">VARA UNITED</a> | ALL RIGHTS RESERVED &copy; 2016</p>

  </div>