<div class="container-fluid">

    <div class="row">
      <div class="col-sm-12" ng-repeat="section in sections">
        <div class="card" id={{section.sectionId}}>

                <div class="header">
                
                    <h4 class="chart-title">{{section.sectionName}}</h4>
                </div>
					
                <div class="content">
               
					<span ng-repeat="rowFields in section.sortedFields track by $index">
						
                        	<div class="row" >
                            	<div class="col-md-4" ng-repeat="field in rowFields track by $index" >
                                	<div class="form-group">
                                    
                                    <label ng-if="field.fieldType=='Label'">{{field.fieldName}}</br>
                                    	
                                    </label>
                                        
                                    <label class="col-md-12" ng-if="field.fieldType=='MaskDate'">{{field.fieldName}}
                                 		<input 
                                  			ng-required = "(field.validations.indexOf('Blank') === -1)?false:true" 
                                  			class = "form-control" 
                                        	type = "text"
                                        	id = "field.model"
                                        	ng-model = "formdata[field.model]"
                                        	value = "" 	
                                        	ng-blur = "fireEvent(field.model)"
                                        	ng-change = "validateSplChar(field.model)"
                                        	placeholder = "MM/YYYY"
                                  			mask ="19/2999"
                                        />
                                		<!--<input my-datepicker format="{{format}}" type="text" ng-model="formdata[field.model]" id="myDP" />-->
                                	</label>
                                    <label class="col-md-12" ng-if="field.fieldType=='TextField'" >

                                        <vc-text 
                                              ng-if="field.fieldType=='TextField' || field.fieldType=='Email'"
                                              data-model="formdata[field.model]"
                                              data-field="field"
                                              data-processfield="processField"
                                              data-inputtype="field.fieldType"                                         
                                              vc-blur="change([field.model])"
                                              maxlength="{{field.maxLen}}"                                   
                                              allowedchars="{{field.allowedChars}}"
                                              id="{{field.fieldId}}"
                                            
                                         ></vc-text>
                                    </label>
                                     <label class="col-md-12" ng-if="field.fieldType=='DropDown' && field.model=='generateOutput__reportType'">
                                     Report Type
                                     <select class="form-control col-md-5 ng-invalid ng-invalid-required" ng-model="formdata.generateOutput__reportType" ng-change="getReportType(formdata.generateOutput__reportType)">
                                         <option value=""></option>
                                         <option value="CTS">CTS</option>
                                       	 <option  value="Rejection">Rejection</option>
                                       </select>                                       
                                    </label>
                                    
                                    <label class="col-md-12" ng-if="field.fieldType=='DropDown' && field.model!='generateOutput__reportType'">
                                       <vc-select
                                             ng-if="field.fieldType=='DropDown'" 
                                             label="{{field.fieldName}}"
                                             whr=' '
                                             tbl='{{field.metaInfo.Tables}}' 
                                             dbval='{{field.metaInfo.Val}}' 
                                             dblbl='{{field.metaInfo.DisplayLabel}}'
                                             data-accessor="formdata[field.model]" 
                                             labelaccessor="{{field.model}}"
                                             data-datalist="field.metaInfo.datalist"
                                             labeldatalist="{{field.metaInfo.datalist}}"
                                             sql={{field.metaInfo.sql}} 
                                             data-field="field"
                                             data-processfield="processField"
                                             vc-change="businessValidations(formdata[field.model],[field.model],field.metaInfo.Val)"
                                             ng-hide="(formdata.generateOutput__reportType=='CTS' || formdata.generateOutput__reportType=='')"
                                             ></vc-select>
                                    </label>
                                    
                                    <label ng-if="field.fieldType=='Radio'">
                                    	<vc-radio  
                                        	model= "field.fieldName" 
                                            value="{{field.fieldName}}" 
                                            label="{{field.fieldName}}" 
                                            name="{{field.metaInfo.name}}">
                                        </vc-radio>
                                   	</label>
                                  
                                
                                	 <label ng-if="field.fieldType=='Checkbox'">
                                 <box ng-model='formdata[field.model]'> </box>
                                 {{field.fieldName}}
                              </label>
                                    
                                	<label class="col-md-12" ng-if="field.fieldType=='Calendar'" >{{field.fieldName}}
                                		<input my-datepicker format="{{format}}" type="text" ng-model="formdata[field.model]" id="myDP" />
                                	</label>
                               	</div>
                          	</div>
                       	</div>
					</span>

                    <br>
                	<button type="submit" ng-click="report()" class="btn btn-lg btn-primary">Submit</button>
                </form>
        	</div>
            </div>
        </div>
    </div>


    <hr>

    <p class="small text-muted"><a href="#">VARA UNITED</a> | ALL RIGHTS RESERVED &copy; 2016</p>
