<div class="container-fluid">
    <div class="row">
    <div class="col-sm-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="chart-title">Release Record</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                            <div class="col-md-6">
                                            <div class="form-group">
                                               <label for="repeatSelect">Filter select: </label>
                                                    <select class="form-control" name="repeatSelect" id="repeatSelect" ng-change="filterChange(getddlFilterData.model)" ng-model="getddlFilterData.model">
                                                    <option ng-repeat="option in getddlFilterData.availableOptions"  value="{{option.id}}">{{option.name}}</option>
                                                    </select>
                                           
                                            </div>
                                            </div>

                                            <div class="col-md-6" ng-show = "getddlFilterData.model == 1 ">
                                            <div class="form-group">
                    <!--                        <label for="searchSelect"> Search select: </label>
                                            <vc-ddl   whr='' tbl='coreusers' dbval='userId ' dblbl='fullName'
                                     data-accessor="getddlSearchData.model" sql="select t2.fullName,t2.userId from alpluserprocess as t1,coreusers as t2, coreprocessmaster as t3 where t1.userId=t2.userId and t1.processId=t3.processId" vc-change="searchChange(getddlFilterData.model,getddlSearchData.model)" ></vc-ddl>
                                     </label>-->
                                               <label for="searchSelect"> Search select: </label>
                                                    <select class="form-control" name="searchSelect" id="searchSelect" ng-change="searchChange(getddlFilterData.model,getddlSearchData.model)" ng-model="getddlSearchData.model">
                                                    <option ng-repeat="option in getddlSearchData.result"  value="{{option.userId}}">{{option.fullName}}</option>
                                                    </select>
                                            </div>
                                            </div> 
                                            <div class="col-md-6" ng-show = "getddlFilterData.model == 2 ">
                                            <div class="form-group">
                                           <!-- <label for="searchSelect"> Search select: </label>
                                            <vc-ddl   whr='' tbl='coreusers' dbval='userId ' dblbl='fullName'
                                     data-accessor="getddlSearchData.model" sql="select t2.fullName,t2.userId from alpluserprocess as t1,coreusers as t2, coreprocessmaster as t3 where t1.userId=t2.userId and t1.processId=t3.processId" vc-change="searchChange(getddlFilterData.model,getddlSearchData.model)" ></vc-ddl></label>-->
                                               <label for="searchSelect1"> Search select: </label>
                                                    <select class="form-control" name="searchSelect1" ng-change="searchChange(getddlFilterData.model,getddlSearchData.model)" id="searchSelect1" ng-model="getddlSearchData.model">
                                                    <option ng-repeat="option in getddlSearchData.result"  value="{{option.batchId}}">{{option.batchAlias}}</option>
                                                    </select>
                                            </div>
                                            </div>
                                            <div class="col-md-6" ng-show = "getddlFilterData.model == 3 ">
                                            <div class="form-group">
              							
                                             <label for="searchSelect2"> Search select: </label>
                                                    <select class="form-control" name="searchSelect2" ng-change="searchChange(getddlFilterData.model,getddlSearchData.model)" id="searchSelect2" ng-model="getddlSearchData.model">
                                                     <option ng-repeat="option in getddlSearchData.result"  value="{{option.applicationId}}">{{option.applicationNo}}</option>
                                                    </select>
                                            </div>
                                            </div>
                                        
                                    </div>
                                </form>
                            </div>
                             
                                <div class="from-group" >         
                                    <button type="search" class="btn btn-info" name="search" 
                                    ng-click="searchButtonClicked()" >Search Record</button>
                                    <button type= " releaseselector" class="btn btn-info" name="realse"
                                    ng-click="releaseclicked()" >Release Record</button>
                                
                             </div>
							<br /><br />

                         <script type="text/ng-template" id="checkboxheader.html">
							<input type="checkbox" ng-click="selectAll()">
						</script>
                   <table class="table table-striped" ng-table="tableParams" show-filter="true" ng-show="searchRelease.length > 0">
                    
                     <tr ng-repeat="releases in $data">
                      
                        <td scope="row" width="100px" align="center" data-header="'checkboxheader.html'">
                          <input type="checkbox" 
                           ng-model="releases.isSelected"> 
                        </td>  
                    
                         
                       <td scope="row"  title="'Application No'"  align="center">{{releases.applicationNo}}</td>
                       <td scope="row"  title="'Process'"  align="center">{{releases.processName}}</td>
                        <td scope="row"  title="'Batch No'"  align="center">{{releases.batchAlias}}<br />
                       </td>
                        <td scope="row"  title="'UserName'"  align="center">{{releases.fullName}}<br />
                       	</td>
                       
                     </tr>
                 </table>
          </div>
      </div>
    </div>
</div>

      
