   
<div class="container-fluid" >

	<div class="progress" ng-show="proval > 0">
      <div class="progress-bar {{progressbarstatus}} progress-bar-striped active" role="progressbar"
      aria-valuenow="{{proval}}" aria-valuemin="0" aria-valuemax="100" style="width:{{proval}}%">
        {{proval}}% {{currentstatus}}
      </div>
    </div>      


    <div class="row">
      {{formdata}}
     <div class="col-sm-12" ng-repeat="section in sections">
      
      <div class="card" ng-if="section.sectionId==35 || section.sectionId==36 || section.sectionId==37 || section.sectionId==38
        || section.sectionId==39 || section.sectionId==40">

                <div class="header">
                
                    <h4 class="chart-title">{{section.sectionName}}</h4>
                </div>
					
                <div class="content">
                
                    <form method="post" name="form1" ng-submit="subForm()" >

						<span ng-repeat="rowFields in section.sortedFields track by $index">

                          <div class="row" >
                            <div class="col-md-3" ng-repeat="field in rowFields track by $index" >
                                <div class="form-group">
                                    	<hr ng-if="field.fieldType=='Label'" />
                                        
                                        
									<vc-text 
                                      ng-if="field.fieldType=='TextField' || field.fieldType=='Email'"
                                      data-accessor="formdata[field.model]"
                                      data-model="formdata[field.model]"
                                      data-field="field"
                                      data-processfield="processField"
                                      data-datalist="getAllCat"
                                      data-inputtype="field.fieldType"
                                    ></vc-text>
                                    

                                    <!--<input 
                                    ng-required="(field.validations.indexOf('Blank') === -1)?false:true" 
                                    value="" 
                                    class="form-control"  
                                    type="text" 
                                    ng-model="formdata[field.model]"
                                    />
                                    </label>
										

                                    <label class="col-md-12" ng-if="field.fieldType=='Email'"   >{{field.fieldName}}
                                    <input 
                                    ng-required="(field.validations.indexOf('Blank') === -1)?false:true" 
                                    value="{{field.htmlCode}}" 
                                    class="form-control"  
                                    type="email" 
                                    ng-model="formdata[field.model]"
                                    />
                                   
									                  </label>    -->
                                                      <label class="col-md-12" ng-if="field.fieldType=='DropDown'">{{field.fieldName}}
                                           
                                    <vc-ddl   whr='' tbl='{{field.metaInfo.Table}}' dbval='{{field.metaInfo.Val}}' 
                                    dblbl='{{field.metaInfo.DisplayLabel}}' data-accessor="formdata[field.model]" sql="{{field.metaInfo.sql}}" data-datalist="field.metaInfo.Datalist" ></vc-ddl>
                                    
                               
                                         
									                  </label>
                                    
                                    
                                    <label ng-if="field.fieldType=='Radio'">
                                           

                    <vc-radio  model= "formdata[field.model]" value="{{field.fieldName}}" label="{{field.fieldName}}" name="{{field.metaInfo.name}}"></vc-radio>
                                   
                                
                                    </label>
                                  
                                
                                <label ng-if="field.fieldType=='Checkbox'">
                                    <box data-ng-model='formdata[field.model]' name="{{field.fieldName}}"> </box>
                               </label>
                                <label class="col-md-12" ng-if="field.fieldType=='Calendar'">{{field.fieldName}}
                                <input my-datepicker date-format="{{format}}" type="text" ng-model="formdata[field.model]" id="myDP" />
                                </label>
                               </div>

                          	</div>
     						
                          </div>
							
                            


                            
						</span>
                        
                        <div class="clearfix"></div>
                        <div>
                        </div>
                     

                    </form>
    				
                </div>
            </div>
            </div>
        </div>
  
   
    <hr>
    <p class="small text-muted"><a href="#">VARA UNITED</a> | ALL RIGHTS RESERVED &copy; 2016</p>

  </div>